/* include bootstrap and prettify style sheets */
@import 'bootstrap.min.css';
@import 'prettify.css';
@import '../redactor/css/redactor.css';
@import 'print.css' print;

/* * * * * * * * * * * * * * * * * * * * * * * * * *
	following styles will override those above
 * * * * * * * * * * * * * * * * * * * * * * * * * */

/* page structure */
html p {
	/*font-size: 1.1em;
	line-height: 1.4em;*/
	color: #111;
	margin: 0 0 1.2em;
}
body {
	background: #fbfbfb;
	padding: 60px 0 0 0;
}
.page-wrap {
	background: #fff;
	padding: 0px;
}

/* footer */
footer {
	margin: 60px auto 0;
	padding: .5em;
	border-top: 1px solid #eee;
}
footer small {
	color: #ccc;
}
footer small:hover {
	color: #222;
}

/* headers */
h1 {
	margin: 0 0 .8em 0 ;
	padding: .3em 0;
	border-bottom: 0px solid #ddd;
	font-weight: normal;
	font-size: 2.6em;
	color: #08c;
}

h2 {
	margin: 1.5em 0 0.5em;
	padding: .2em;
	border-bottom: 2px solid #999;
}
h3 {
	font-size: 1.4em;
	margin: 1em 0 0;
}
h4 {
	text-transform: uppercase;
	color: #666;
}

/* nav bar */
.navbar .nav > li > a {
	color: #fff;
	font-weight: bold;
}
li.nav-header {
	border-bottom: 1px solid #eee;
}

.fixed {
	position: fixed;
}

/* notes */
div#notes {
	margin: 80px 0;
	padding: 1em 0;
	border-top: 0px solid #ddd;
}


/* editor */
div#notes textarea {
	width: 100%;
	height: 400px;
}

div#editor-buttons {
	padding: 10px;
}
div#editor-buttons a {
	margin: 5px;
}

/* lists */
	dl {
		border-left: 3px solid #0af;
		padding: 1em 2em;
		width: 70%;
		background: #fbfbfb;
	}
	dt {
		color: #08c;
		line-height: 1.8em;
	}

ul.notes-links {
	margin: 40px 0 20px 0;
	padding: 20px 40px;
	background: #fbfbfb;
	border-top: 1px solid #ccc;
	list-style: none;
}


a[href^="http://"]
	{
	padding-left: 25px;
	margin: 0 .5em;
	background: url(../img/sprites/sprites-sitewide.png) no-repeat left -60px;
	}
a[href*="php.net"]
	{
	padding-left: 20px;
	background: url(../img/sprites/php_net.png) no-repeat left;
	}


/*Nav*/
.navbar .nav > li > a {
	color: #eee;
	font-weight: bold;
	border-left: 1px solid #555;
	border-right: 1px solid #111;
	min-width: 100px;
	text-align: center;
	font-size: 1.1em;
}
.navbar .nav > li > a:hover {
	color: #fff;
	background: #444;
}
.navbar-fixed-top .nav {

background-image:-moz-linear-gradient(50% 0% -90deg,rgb(79,79,79) 0%,rgb(27,27,27) 50%,rgb(0,0,0) 50%,rgb(0,0,0) 98%);
background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(79,79,79)),color-stop(0.5, rgb(27,27,27)),color-stop(0.5, rgb(0,0,0)),color-stop(0.98, rgb(0,0,0)));
background-image:-webkit-linear-gradient(-90deg,rgb(79,79,79) 0%,rgb(27,27,27) 50%,rgb(0,0,0) 50%,rgb(0,0,0) 98%);
background-image:-o-linear-gradient(-90deg,rgb(79,79,79) 0%,rgb(27,27,27) 50%,rgb(0,0,0) 50%,rgb(0,0,0) 98%);
background-image:-ms-linear-gradient(-90deg,rgb(79,79,79) 0%,rgb(27,27,27) 50%,rgb(0,0,0) 50%,rgb(0,0,0) 98%);
background-image:linear-gradient(-90deg,rgb(79,79,79) 0%,rgb(27,27,27) 50%,rgb(0,0,0) 50%,rgb(0,0,0) 98%);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4f4f4f,endColorstr=#ff000000,GradientType=0)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff4f4f4f,endColorstr=#ff000000,GradientType=0);

}
.navbar .nav > li > a {
	min-width: 100px;
	color: #eee;
	font-weight: bold;
	border-right: 1px solid #444;
	text-align: center;
	font-size: 1em;
	line-height: 25px;
	vertical-align: middle;
}
.navbar .nav > li > a {
	text-shadow: none;

}
.navbar .brand {
	margin-left: 0;
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
}
